ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #251010;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #9c9ac4;
  }
  
  li a.router-link-active {
    color: rgba(235, 241, 241, 0.63);
    background-color: #312863;
  }